<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
    fetch('http://localhost:8080/qytetet') 
        .then(response => response.json())
        .then(data =>{
            data.forEach(element=>{
                let div = document.createElement('div')
                document.body.appendChild(div)
                div.style.backgroundColor= 'blue'
                div.style.borderRadius = '10px'
                div.style.display = 'inline-block'
                div.style.padding = '10px'
                div.style.margin="10px"
                let h3 = document.createElement('h3')
                h3.innerHTML = element.emri
                div.appendChild(h3)
                let p1 = document.createElement('p')
                p1.innerHTML = 'Te infektuar: '+ element.te_infektuar
                div.appendChild(p1)

                let p2 = document.createElement('p')
                p2.innerHTML = 'Te sheruar: '+element.te_sheruar
                div.appendChild(p2)

                let p3 = document.createElement('p')
                p2.innerHTML = 'Te vdekur: '+ element.te_vdekur
                div.appendChild(p3)
            })
        })
</script>
</body>
</html>